[submodule "submodules/autorest.typescript"]
	path = submodules/autorest.typescript
	url = git@github.com:Azure/autorest.typescript.git
[submodule "submodules/typespec-azure"]
	path = submodules/typespec-azure
	url = git@github.com:Azure/typespec-azure.git
[submodule "submodules/typespec"]
	path = submodules/typespec
	url = git@github.com:Microsoft/typespec.git
[submodule "submodules/flight-instructor"]
	path = submodules/flight-instructor
	url = git@github.com:Microsoft/flight-instructor.git
[submodule "submodules/alloy"]
	path = submodules/alloy
	url = git@github.com:alloy-framework/alloy.git
